* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fdfdfd;
  color: #333;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  background-color: #0e3959;
  color: #fff;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}
nav a:hover {
  color: yellow;
}

/* home style */
#home {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgb(0, 0, 0, 0.5);
}
.home-content {
  position: relative;
  z-index: 3;
  max-width: 800px;
  text-align: center;
}
.home-content h2 {
  font-size: 3rem;
  margin-bottom: 15px;
}
.home-content p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}
.home-content .btn {
  background-color: yellow;
  color: #0e3959;
  padding: 15px 28px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}
.home-content .btn:hover {
  background: #fff;
  color: #0e3959;
}
section {
  width: 100%;
  display: flex;
  justify-content: center;
}
section .container {
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

/* destinations */
#destinations {
  padding: 80px 0;
  background: #f8f9fa;
  text-align: center;
}

#destinations h2 {
  font-size: 2.2rem;
  margin-bottom: 40px;
  color: #222;
}

.destinations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 25px;
  justify-content: center;
}

.destination-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destination-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}
.destination-card h3 {
  padding: 15px;
  font-size: 1.3rem;
  color: #222;
  background: #fdfdfd;
}
